.jumbotron{
	min-height: 100vh;
	display: flex;
  	align-items: center;
  	justify-content: center;
	opacity: 1 !important;
}

.parallax{
	/* The image used */
	background-image: url("/src/images/bg_1.jpg");

	/* Set a specific height */
	min-height: 100vh;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallaxv2{
	/* The image used */
	background-image: url("/src/images/bg_2.jpg");

	/* Set a specific height */
	min-height: 100vh;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#bg_shop{
	background-image: url("/src/images/background.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}

.secHeight{
	min-height: 100vh;
}

.cart{
    top: -24px !important;
}

.form{
	min-height: 100vh;
	display: flex;
  	align-items: center;
  	justify-content: center;
	opacity: .95;
}